


/*Allgemein*/
:root{
    --background-color:#f5ccaa90;
    --primary-color:#e70f0f;
    --dark-color:#c20f77;
    --grey-color:#031f38;
    --white-color:rgb(227, 130, 130);
    --brown-color:#b25e21;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid greenyellow; */
    
    
    
}
html{
    font-size: 10px;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    
}


/*Karim Header*/
.countainer{
    position: relative;
    margin: 2rem;
    padding: 3rem;
    width: 98%;
    background-image: url(../pic/pic2.jpg);
    background-position: top;
    background-size: cover;
    height: 10rem;
}
.nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    height: 8vh;
    z-index: 2;
    width: 100%;
}
.list-items{
    display: flex;
    flex: 0.7;
    justify-content: space-between;
    align-items: center;
}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
    color: #035195;
    font-weight: bold;
    position: relative;
}
.link::before{
    content: "";
    height: .7rem;
    width: .7rem;
    display: none;
    transition: 0.2s;
    background: var(--primary-color);
    top: 2.5rem;
    left: 50%;
    border-radius: 3.3rem;
    position: absolute;
}


/*LOGIN Buttons Start*/
a{
    position: relative;
    background: rgb(178, 171, 171);
    color: rgb(190, 8, 69);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}
a:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--grey-color);
}
a::before{
    content: "";
    position: absolute;
    inset: 2px;
    background: #c1c5d7;
}
a span{
    position: relative;
    z-index: 1;
}
a i{
    position: absolute;
    inset: 0;
    display: block;
}
a i::before{
    content: "";
    top: -3.5px;
    left: 80%;
    position: absolute;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateY(-50%);
    transition: 0.5s;
}
a:hover i::before{
    width: 20px;
    left: 20%;
}
a i::after{
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transition: 0.5s;
}
a:hover i::after{
    width: 20px;
    left: 80%;
}
/*LOGIN Buttons ENd*/

/*Chris und Karim */

article{
    width: 60vw;
}
.couple img{
    width: 60vw;
    height: 50rem;
    z-index: -10;
    position: relative;
    opacity: .8;
}

.heading-ctn h1{
    position: absolute;
    top: 20rem;
    left: 5rem;
    z-index: 5;
    font-size: 5rem;

}
.heading-ctn h2{
    position: absolute;
    top: 30rem;
    left: 5rem;
    right: 150rem;
    z-index: 5;
    width: 30rem;
    overflow: hidden;
}
.icon-ctn{
    display: flex;
    height: 20rem;
    margin-top: -3.5rem;
}
.icon-ctn p{
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
}
.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.location figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.party{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.party figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.workshop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.workshop figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.section-1-ctn{
    margin-top: 5rem;
}
.section-1{
    display: flex;
    align-items: center;
}
.section-1 img{
    width: 35rem;
    height:25rem
    
}
.section-1 p{
    font-size: 1.5rem;
    padding: 5rem;
}
.section-2-ctn{
    margin-top: 5rem;
}
.section-2{
    display: flex;
    align-items: center;
}
.section-2 img{
    width: 35rem;
    height: 25rem;
}
.section-2 p{
    font-size: 1.5rem;
    padding: 5rem;
}
.registration-btn{


}


/*Die Cards Start*/

.content{

    display: flex;
    justify-content: center;
    flex-direction: row ;
    flex-wrap: wrap;
    align-content: space-between;
}
.card-titel{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 40px;
    
}
.card{
    background-color: rgb(243, 231, 231);
    width: 33.25em;
    box-shadow: 14px 23px #942323f0;
    border-radius: 10px;
    padding: 25px;
    margin: 33px;
    transition: .8s ease;
}
.card:hover {
    transform: scale(1.1);
}
.icon{
    color: blue;
    text-align: center;
    font-size: 8em;
    cursor: pointer;
}
.info h3{
    color: rgb(216, 2, 2);
    font-weight: 100px;
    margin: 10px;
    font-size: 2em;
    justify-content: center;
    display: flex;
}


/*Die Cards End*/





/*Karim FOOTER*/


footer{
    padding-top:480px;
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 188px;
}
.end-footer{
  position: relative; 
  display: flex;
  color: rgb(28, 4, 4);
  justify-content: center;
  width: 100%;
  font-size: 15px;
  background-image: url(../pic/pic7.jpg);
  background-size: cover;
  background-position: center;
  
  
  
}
.footer-left{
    width: 25%;
    
    line-height:20px;
}
.footer-para{
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height:1;
    color:#ECE9E6;
}
.footer-paraklein{
    color: #000;;
}
.copy-right{
    margin-top: 10px;
    color: whitesmoke;
}
.footer-span{
    color: var(--primary-color);
}
.footer-middle{
    width: 25%;
}
.footer-right{
    width: 25%;
}
.social-icons{
    display: flex;
    justify-content: center;
    letter-spacing: 23px;
    margin-top: 20px;
    font-size: 22px;
    cursor: pointer;
    
}
footer ul {
    list-style: none;
    margin-top:5px;
}
footer ul li{
    margin-top: 10px;
    cursor: pointer;
    color:#ECE9E6;
}