


/*Allgemein*/
:root{
    --background-color:#f5ccaa90;
    --primary-color:#e70f0f;
    --dark-color:#c20f77;
    --grey-color:#031f38;
    --white-color:rgb(227, 130, 130);
    --brown-color:#b25e21;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 10px;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}


/*Karim Header*/
.countainer{
    position: relative;
    margin: 20px;
    padding: 30px;
    width: 98%;
    background-image: url(../pic/pic2.jpg);
    background-position: top;
    background-size: cover;
    height: 100px;
}
.nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    height: 8vh;
    z-index: 2;
    width: 100%;
}
.list-items{
    display: flex;
    flex: 0.7;
    justify-content: space-between;
    align-items: center;
}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
    color: #7d8790;
    font-weight: bold;
    position: relative;
}
.link::before{
    content: "";
    height: 7px;
    width: 7px;
    display: none;
    transition: 0.2s;
    background: var(--primary-color);
    top: 25px;
    left: 50%;
    border-radius: 33px;
    position: absolute;
}
.link:hover{
    color: var(--primary-color);
}
.link:hover::before{
    display: block;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    width: 350px;
}
.btn{
    padding: 15px 30px;
    background: var(--grey-color);
    color: var(--white-color);
    border-radius:30px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    
}
.btn-secondery:hover{
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 30%;
}


/*Chris und Karim */

article{
    width: 60vw;
    outline: 1px solid greenyellow;
}
.couple img{
    position: relative;
    width: 60vw;
    height: 60rem;
    z-index: -10;
}
.heading-ctn h1{
    position: absolute;
    top: ;
    z-index: 5;
}








/*Karim FOOTER*/


footer{
    padding-top:480px;
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 188px;
}
.end-footer{
  position: relative; 
  display: flex;
  color: rgb(28, 4, 4);
  justify-content: center;
  width: 100%;
  font-size: 15px;
  background-image: url(../pic/pic7.jpg);
  background-size: cover;
  background-position: center;
  
  
  
}
.footer-left{
    width: 25%;
    
    line-height:20px;
}
.footer-para{
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height:1;
    color:#ECE9E6;
}
.footer-paraklein{
    color: #000;;
}
.copy-right{
    margin-top: 10px;
    color: whitesmoke;
}
.footer-span{
    color: var(--primary-color);
}
.footer-middle{
    width: 25%;
}
.footer-right{
    width: 25%;
}
.social-icons{
    display: flex;
    justify-content: center;
    letter-spacing: 23px;
    margin-top: 20px;
    font-size: 22px;
    cursor: pointer;
    
}
footer ul {
    list-style: none;
    margin-top:5px;
}
footer ul li{
    margin-top: 10px;
    cursor: pointer;
    color:#ECE9E6;
}